.karten {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
}

.karte {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
  width: 45%;
  height: 45%;
  margin: auto;
  display: block;
  height: auto;
  border-style: solid;
}

.karte img {
  object-fit: cover;
  display: block;
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}